*{
  font-family: 'Quicksand', sans-serif;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  padding: 0px 10px;
  color: #fff;
  transition: 0.2s;
}

a:hover {
  background-color: white;
  color: #0074D9;
  border-radius: 10px;
  width: 50px;
}

.container {
  margin: auto;
  text-decoration: none;
  text-align: center;
}