#dashboard {
    background: linear-gradient(to right, #ff9966, #ff5e62);
    height: 100vh;
}

.dash-head {
    margin: auto;
    height: 30vh;
    color: #ffffff;
    box-sizing: border-box;
    position: relative;
    display: flex;
}

.dash-head h1 {
    font-size: 5em;  
}

.search {
    padding: 0px;
}

.Logout {
    margin-top: 2.7em;
    margin-right: 1em;
    margin-left: -3em;
    font-size: 2em;
}

.Logout-Button {
    color: white;
}

@media(max-width:600px){
    .dash-head h1 {
        font-size: 3.5em;  
    }
}

@media(max-width: 800px) {
    
    .dash-head {
        display: block; 
    }

    .alternate-text {
        padding-bottom: 32vh;
    }

    .Logout {
        margin-top: 0em;
        margin-right: 0em;
        margin-left: 0em;
        font-size: 1.5em;
    }
}

@media(max-width:900px){
    .Logout {
        text-align: center;
    }
}