#homepage {
    height: 100vh;
    background: linear-gradient(to left, #c133f7, #2ab6e3);
}

#home-header {
    color: #fff;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: 50vh;
}

#home-header h1 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 10em;
    font-family: 'Dancing Script', cursive;
    margin-top: 15vh;
}

#home-header h3{
    padding: 0px;
    margin-top: -30px;
    text-align: center;
    font-size: 2.3em;
    font-family: 'Courgette', cursive;
}

#home-content {
    padding: 0px;
    text-align: center;
    color: #fff;
    width: 100%;
    overflow: hidden;
    margin-top: 10vh;
}

#home-content h3 {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
}

@media(max-width:600px){
    #homepage {
        background-size: 250%;
    }

    #home-header h1 {
        font-size: 6em;
        margin-top: 20vh;
    }

    #home-header h3 {
        font-size: 1.37em;
        margin-top: -15px;
    }

    a {
        font-size: 0.7em;
    }

    #home-content {
        margin-top: 0px;
    }
}
  
@media(max-width:370px){
    #homepage {
        background-size: 250%;
    }

    #home-header h1 {
        font-size: 5em;
        margin-top: 20vh;
    }

    #home-header h3 {
        font-size: 1.37em;
        margin-top: -15px;
    }

    a {
        font-size: 0.7em;
    }
  }