#homepage {
    height: 100vh;
    background: linear-gradient(to left, #c133f7, #2ab6e3);
    background: url("../../Public/3rd.jpg") no-repeat fixed center;
}

#home-header {
    color: #fff;
    color: #0074d9;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: 50vh;
}

#home-header h1 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 10em;
    font-family: 'Dancing Script', cursive;
    margin-top: -2vh;
}

#home-header h3{
    padding: 0px;
    margin-top: -30px;
    text-align: center;
    font-size: 2.3em;
    font-family: 'Courgette', cursive;
}

#home-content {
    padding: 0px;
    text-align: center;
    color: #fff;
    color: #0074d9;
    width: 100%;
    overflow: hidden;
    margin-top: 27vh;
}

#home-content h3 {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
}

@media(max-width:600px){
    #homepage {
        background-size: 80%;
    }

    #home-header h1 {
        font-size: 5em;
        margin-top: 14vh;
    }

    #home-header h3 {
        font-size: 1.37em;
        margin-top: -15px;
    }

    a {
        font-size: 0.7em;
    }

    #home-content {
        margin-top: 0px;
        margin-top: 7em;
    }
}
