.alternate-text {
    font-size: 2em;
    color: #4cff8b;
}

#slam-pages .container {
    text-align: -webkit-center;
}

table {
    margin: 20px;
    margin-bottom: 0px;
    background: white;
    padding: 2em;
    border-radius: 20px;
    font-size: larger;
    box-shadow: 1px 3px 7px black;
}

.display-flex {
    display: flex;
}

@media(max-width:1200px){
    .display-flex {
        display: block;  
    }
  }