.alternate-text {
    font-size: 2em;
    color: #4cff8b;
    margin-top: 1.5em;
    padding-bottom: 8.5em;
}

#slam-pages {
    background: linear-gradient(to right, #ff9966, #ff5e62);
}

#slam-pages .container {
    text-align: -webkit-center;
}

table {
    margin: 20px;
    margin-bottom: 20px;
    background: white;
    padding: 2em;
    border-radius: 20px;
    font-size: larger;
    box-shadow: 1px 3px 7px black;
}

.display-flex {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

@media(max-width:1200px) {
    .display-flex {
        display: grid; 
        grid-template-columns: auto;
        grid-gap: 10px; 
    }
}

@media(max-width:500px) {
    table {
        padding: 1em;
        font-size: medium;
    }
}