#login {
    text-align: center;
    background: linear-gradient(to bottom, #fd746c, #904e95);
    height: 100vh;
    color: #fff;
}

#form-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(12,12,12,0.8);
    border-radius: 30px;
    height: 80vh;
    width: 65vh;
    box-shadow: #000000d0 6px 5px 5px -3px;
}

.form-head {
    font-size: 2em;
    margin: 1em;
}

.form-body {
    margin: 0px 2em;
}

.form-group {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.form-field {
  font-size: 1.4em;
  color: #fff;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.form-group span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #fff;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.form-group span::after{
    content: '';
    position: absolute;
    left: 0%;
    width: 0%;
    height: 2px;
    background: linear-gradient(120deg,#3498db,#8e44ad);
    transition: .5s;
}

input:focus + span::before{
    top: -5px;
}

input:focus + span::after{
    width: 100%;
}


.form-btn {
    border: none;
    margin: 1.5em;
    padding: 10px 20px;
    background-color: #0074D9;
    color:#fff;
    cursor: pointer;
    border-radius: 30px;
    font-size: large;
}

.form-tail {
    font-size: 1.2em;
}



@media(max-width:600px){
    #form-login {
        height: 400px;
        width: 300px;
    }

    .form-head {
        font-size: 1.5em;
    }

    .form-btn {
        margin-bottom:10px;
        font-size: small;
    }

    .form-tail {
        font-size: 1em;
    }

    a {
        font-size: 1em;
    }
}