#register {
    text-align: center;
    background: linear-gradient(to bottom, #fd746c, #904e95);
    height: 100vh;
    color: #fff;
}

#form-register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(12,12,12,0.8);
    border-radius: 30px;
    height: 85vh;
    width: 65vh;
}

@media(max-width:600px){
    #form-register {
        height: 535px;
        width: 300px;
    }
  }