.search-form {
    display: flex;
    padding: 0px 15em;
    box-sizing: border-box;
}

#dash-search {
    height : 20vh;
}

#dash-search .container {
    text-align: -webkit-center;
}

#dash-search .form-field {
    font-size: 3em;
    color: white;
}

#dash-search .form-btn {
    margin: 0px;
    border: none;
    padding: 7px 17px;
    background-color: #ffffff;
    color: #0074d9;
    cursor: pointer;
    border-radius: 30px;
    font-size: x-large;
    margin-left: 20px;
    margin-top: 20px;
}

.input-search {
    width: 100vw;
}

@media(max-width:600px){
    #dash-search .form-field {
        font-size: 2em; 
    }

    #dash-search {
        height : 15vh;
    }
}

@media(max-width:800px){
    .search-form {
        padding: 0px 5em; 
    }
}